<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>/srv/casparcg/media/</media-path>
    <log-path>/var/log/casparcg/</log-path>
    <data-path>/var/lib/casparcg/data/</data-path>
    <template-path>/srv/casparcg/template/</template-path>
  </paths>
  <channels>
    <channel>
      <video-mode>720p5000</video-mode>
      <consumers />
    </channel>
  </channels>
  <controllers>
    <tcp>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcp>
  </controllers>
  <osc>
    <disable-send-to-amcp-clients>true</disable-send-to-amcp-clients>
  </osc>
</configuration>
